@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* font-family: 'Lato', sans-serif; */

:root {
  --primary-color: #f97316;
  --secondary-color: #ea580c;
  --light-color: #fdba74;
  --dark-color: #9a3412;
  --text-dark-color: #333333;
  --light-gray: #a8a29e;
  --dark-gray: #78716c;
  --success-color: #15803d;
  --warning-color: #facc15;
  --error-color: #dc2626;
  --card-box-shadow: 0 5px 20px -5px rgb(191 192 192);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
