@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* font-family: 'Lato', sans-serif; */

:root {
  --primary-color: #f97316;
  --secondary-color: #c2410c;
  --text-dark-color: #333333;
  --light-gray: #a8a29e;
  --dark-gray: #78716c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
