main {
  margin-top: 4rem;
  display: flex;
}

.main-left {
  text-align: left;
  width: 60%;
  padding: 1rem;
}

.main-left .main-title {
  font-size: 3rem;
  color: var(--text-dark-color);
}

.main-left .main-description {
  margin: 1.4rem 0;
  font-size: 1.3rem;
  color: var(--light-gray);
  letter-spacing: 1px;
}

.main-left .main-btn {
  padding: 0.6rem 1rem;
  font-size: 1.4rem;
  border: none;
  background-color: var(--primary-color);
  color: #ffffff;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
}

.main-right {
  width: 40%;
  display: flex;
  align-items: center;
}

.docs-container {
  width: 100%;
  margin: 50px auto 0;
  display: flex;
  padding: 0 1rem;
}

/* installation style */
section {
  flex: 5.5;
}

.content-wrapper {
  padding: 20px;
  width: 80%;
}

hr {
  margin: 2.5rem 0;
}

.content-title {
  color: var(--text-dark-color);
  font-weight: 700;
}

.content-desc {
  color: var(--dark-gray);
  margin: 2rem 0;
  letter-spacing: 1px;
}

.content-code {
  width: 100%;
  height: fit-content;
}

/* example doc style */

.example-container {
  min-width: 0;
  margin: 0px auto;
  max-width: 800px;
  flex: 1 1 0%;
}

.example-title {
  color: var(--text-dark-color);
}

.example-desc {
  margin: 1rem 0;
  color: var(--dark-gray);
}

.example-hr {
  border: 1px solid #e7e5e4;
}

.example-showcase {
  width: 100%;
  height: max-content;
  background-color: #fafaf9;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1.2rem 0;
  padding: 1.2rem;
}

.alert-box {
  flex-direction: column;
}

.utilities-box {
  width: 100%;
  height: max-content;
  background-color: #fafaf9;
  margin: 1.2rem 0;
  padding: 1.2rem;
}

/* footer style */
footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.footer-left-icon {
  margin-right: 6px;
  color: var(--text-dark-color);
}

.footer-right-icon {
  margin-left: 5px;
  color: var(--text-dark-color);
}

.footer-text {
  color: var(--text-dark-color);
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }

  .example-container {
    margin: auto;
    width: 90%;
  }

  code {
    display: none;
  }
}
