.square-img {
  height: 140px;
  width: 140px;
  margin: 10px;
  object-fit: cover;
}

.round-img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin: 10px;
  object-fit: cover;
}

.responsive-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
