<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simplified grid | Splash ui</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="/components/simplifiedGrid/SimplifiedGrid.css"
    />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="header-left">
          <a href="../../index.html">Splash</a>
          <span class="small-text">v1.0</span>
        </div>
        <ul class="header-right">
          <li><a href="../../docs.html">Docs</a></li>
          <li>
            <a href="https://github.com/adidoshi/splash-ui" target="_blank">
              <span class="header-icon"
                ><i class="devicon-github-original colored"></i
              ></span>
            </a>
          </li>
        </ul>
      </header>

      <div class="docs-container">
        <nav class="sidebar">
          <h4 class="sidebar-title-one">Getting started</h4>
          <ul class="sidebar-list">
            <a href="../../docs.html"
              ><li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="fas fa-download"></i
                ></span>
                <span class="sidebar-item-text">Installation </span>
              </li></a
            >
          </ul>
          <h4 class="sidebar-title-two">Components</h4>
          <ul class="sidebar-list">
            <a href="../avatar/Avatar.html"
              ><li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="fas fa-user-circle"></i
                ></span>
                <span class="sidebar-item-text">Avatar </span>
              </li></a
            >
            <a href="../alert/Alert.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon">
                  <i class="fas fa-exclamation-circle"></i
                ></span>
                <span class="sidebar-item-text">Alert </span>
              </li>
            </a>
            <a href="../badge/Badge.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="fas fa-bookmark"></i
                ></span>
                <span class="sidebar-item-text">Badge</span>
              </li>
            </a>
            <a href="../button/Button.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-copy"></i></span>
                <span class="sidebar-item-text">Button</span>
              </li>
            </a>
            <a href="../card/Card.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-id-card"></i></span>
                <span class="sidebar-item-text">Card</span>
              </li>
            </a>
            <a href="../image/Image.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-images"></i></span>
                <span class="sidebar-item-text">Image</span>
              </li>
            </a>
            <a href="../input/Input.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-edit"></i></span>
                <span class="sidebar-item-text">Input</span>
              </li>
            </a>
            <a href="../textUtilities/TextUtilities.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-heading"></i></span>
                <span class="sidebar-item-text">Text Utilities</span>
              </li>
            </a>
            <a href="../lists/Lists.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-list-ul"></i></span>
                <span class="sidebar-item-text">Lists</span>
              </li>
            </a>
            <a href="../modal/Modal.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="far fa-credit-card"></i
                ></span>
                <span class="sidebar-item-text">Modal</span>
              </li>
            </a>
            <a href="../navigation/Navigation.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="fas fa-directions"></i
                ></span>
                <span class="sidebar-item-text">Navigation</span>
              </li>
            </a>
            <a href="../rating/Rating.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-star"></i></span>
                <span class="sidebar-item-text">Rating</span>
              </li>
            </a>
            <a href="../snackbar/Snackbar.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="fas fa-bread-slice"></i
                ></span>
                <span class="sidebar-item-text">Snackbar / Toast</span>
              </li>
            </a>
            <a href="../simplefiedGrid/SimplifiedGrid.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="far fa-credit-card"></i
                ></span>
                <span class="sidebar-item-text">Simplified Grid</span>
              </li>
            </a>
          </ul>
        </nav>

        <!-- grid section -->
        <div class="example-container">
          <h1 class="example-title">Simplified Grids</h1>
          <p class="example-desc">
            The CSS Grid Layout Module offers a grid-based layout system, with
            rows and columns, making it easier to design web pages.
          </p>
          <hr class="example-hr" />
          <h2>Grid 50:50 layout</h2>
          <p class="example-desc">
            Two column layout, to divide the entire page in two parts.
          </p>

          <div class="example-showcase">
            <div class="grid-col-2">
              <div class="grid-item">
                <img
                  src="../../assets/images/product2.jpg"
                  alt="card img"
                  class="responsive-img"
                />
                <h3 class="grid-item-title">Card title</h3>

                <p class="grid-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Impedit veniam ipsam deleniti.
                </p>
                <div class="grid-footer">
                  <button class="card-actions-btn-filled">Action Button</button>
                </div>
              </div>
              <div class="grid-item">
                <img
                  src="../../assets/images/product2.jpg"
                  alt="card img"
                  class="responsive-img"
                />
                <h3 class="grid-item-title">Card title</h3>

                <p class="grid-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Impedit veniam ipsam deleniti.
                </p>
                <div class="grid-footer">
                  <button class="card-actions-btn-filled">Action button</button>
                </div>
              </div>
            </div>
          </div>

          <code>
            <iframe
              src="https://www.thiscodeworks.com/embed/6202453bed723a001551c177"
              style="width: 100%; height: auto"
              frameborder="0"
            ></iframe>
          </code>

          <hr class="example-hr" />
          <h2>Three column Grid layout</h2>
          <p class="example-desc">
            Three column layout, basically used for card system.
          </p>

          <div class="example-showcase">
            <div class="grid-col-3">
              <div class="grid-item">
                <img
                  src="../../assets/images/productImg.jpg"
                  alt="card img"
                  class="responsive-img"
                />
                <h3 class="grid-item-title">Card title</h3>
                <p class="grid-item-price">₹ 7999 /-</p>
                <p class="grid-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Impedit veniam ipsam deleniti.
                </p>
                <div class="grid-footer">
                  <button class="card-actions-btn-filled">Add to cart</button>
                </div>
              </div>
              <div class="grid-item">
                <img
                  src="../../assets/images/productImg.jpg"
                  alt="card img"
                  class="responsive-img"
                />
                <h3 class="grid-item-title">Card title</h3>
                <p class="grid-item-price">₹ 7999 /-</p>
                <p class="grid-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Impedit veniam ipsam deleniti.
                </p>
                <div class="grid-footer">
                  <button class="card-actions-btn-filled">Add to cart</button>
                </div>
              </div>
              <div class="grid-item">
                <img
                  src="../../assets/images/productImg.jpg"
                  alt="card img"
                  class="responsive-img"
                />
                <h3 class="grid-item-title">Card title</h3>
                <p class="grid-item-price">₹ 7999 /-</p>
                <p class="grid-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Impedit veniam ipsam deleniti.
                </p>
                <div class="grid-footer">
                  <button class="card-actions-btn-filled">Add to cart</button>
                </div>
              </div>
            </div>
          </div>

          <code>
            <iframe
              src="https://www.thiscodeworks.com/embed/6202459aed723a001551c178"
              style="width: 100%; height: auto"
              frameborder="0"
            ></iframe>
          </code>

          <hr class="example-hr" />
          <footer class="footer">
            <div class="footer-left">
              <a href="../../components/snackbar/Snackbar.html">
                <span class="footer-left-icon"
                  ><i class="fas fa-chevron-left"></i></span
                ><span class="footer-text">Snackbar</span></a
              >
            </div>
            <div class="footer-right"></div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
