<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar | Splash ui</title>
    <link
      rel="shortcut icon"
      href="/assets/images/favicon.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/components/avatar/Avatar.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="header-left">
          <a href="../../index.html">Splash</a>
          <span class="small-text">v1.0</span>
        </div>
        <ul class="header-right">
          <li><a href="../../docs.html">Docs</a></li>
          <li>
            <a href="https://github.com/adidoshi/splash-ui" target="_blank">
              <span class="header-icon"
                ><i class="devicon-github-original colored"></i
              ></span>
            </a>
          </li>
        </ul>
      </header>

      <div class="docs-container">
        <nav class="sidebar">
          <h4 class="sidebar-title-one">Getting started</h4>
          <ul class="sidebar-list">
            <a href="/docs.html"
              ><li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="fas fa-download"></i
                ></span>
                <span class="sidebar-item-text">Installation </span>
              </li></a
            >
          </ul>
          <h4 class="sidebar-title-two">Components</h4>
          <ul class="sidebar-list">
            <a href="../avatar/Avatar.html"
              ><li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="fas fa-user-circle"></i
                ></span>
                <span class="sidebar-item-text">Avatar </span>
              </li></a
            >
            <a href="../alert/Alert.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon">
                  <i class="fas fa-exclamation-circle"></i
                ></span>
                <span class="sidebar-item-text">Alert </span>
              </li>
            </a>
            <a href="../badge/Badge.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="fas fa-bookmark"></i
                ></span>
                <span class="sidebar-item-text">Badge</span>
              </li>
            </a>
            <a href="../button/Button.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-copy"></i></span>
                <span class="sidebar-item-text">Button</span>
              </li>
            </a>
            <a href="../card/Card.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-id-card"></i></span>
                <span class="sidebar-item-text">Card</span>
              </li>
            </a>
            <a href="../image/Image.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-images"></i></span>
                <span class="sidebar-item-text">Image</span>
              </li>
            </a>
            <a href="../input/Input.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-edit"></i></span>
                <span class="sidebar-item-text">Input</span>
              </li>
            </a>
            <a href="../textUtilities/TextUtilities.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-heading"></i></span>
                <span class="sidebar-item-text">Text Utilities</span>
              </li>
            </a>
            <a href="../lists/Lists.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-list-ul"></i></span>
                <span class="sidebar-item-text">Lists</span>
              </li>
            </a>
            <a href="../modal/Modal.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="far fa-credit-card"></i
                ></span>
                <span class="sidebar-item-text">Modal</span>
              </li>
            </a>
            <a href="../navigation/Navigation.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="fas fa-directions"></i
                ></span>
                <span class="sidebar-item-text">Navigation</span>
              </li>
            </a>
            <a href="../rating/Rating.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-star"></i></span>
                <span class="sidebar-item-text">Rating</span>
              </li>
            </a>
            <a href="../snackbar/Snackbar.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="fas fa-bread-slice"></i
                ></span>
                <span class="sidebar-item-text">Snackbar / Toast</span>
              </li>
            </a>
            <a href="../simplifiedGrid/SimplifiedGrid.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="far fa-credit-card"></i
                ></span>
                <span class="sidebar-item-text">Simplified Grid</span>
              </li>
            </a>
          </ul>
        </nav>

        <!-- avatar section -->
        <div class="example-container">
          <h1 class="example-title">Avatar</h1>
          <p class="example-desc">
            Avatars are basically user profile pictures, which are in circular
            shapes. Avatars can be used in your projects when you want some
            specific actions to be performed by the user.
          </p>
          <hr class="example-hr" />
          <h2>Example of rounded avatar</h2>
          <p class="example-desc">
            Profile avatars can be created using 'avatar' class and according to
            preferred size.
          </p>

          <div class="example-showcase">
            <img
              class="avatar sm"
              src="https://cdn-icons-png.flaticon.com/512/147/147144.png"
              alt="avatar-img"
            />

            <img
              class="avatar md"
              src="/assets/images/sampleAvatar.png"
              alt="avatar-img"
            />

            <img
              class="avatar lg"
              src="/assets/images/sampleAvatar.png"
              alt="avatar-img"
            />
          </div>
          <code>
            <iframe
              src="https://www.thiscodeworks.com/embed/6204c864c6efb50015062e28"
              style="width: 100%; height: auto"
              frameborder="0"
            ></iframe>
          </code>

          <hr class="example-hr" />
          <h2>Example of square avatar</h2>
          <p class="example-desc">
            Adding an extra class of 'square' would change the avatar to square
            shape.
          </p>

          <div class="example-showcase">
            <img
              class="avatar square sm"
              src="/assets/images/squareAvatar.jpg"
              alt="avatar-img"
            />

            <img
              class="avatar square md"
              src="/assets/images/squareAvatar.jpg"
              alt="avatar-img"
            />

            <img
              class="avatar square lg"
              src="/assets/images/squareAvatar.jpg"
              alt="avatar-img"
            />
          </div>

          <code>
            <iframe
              src="https://www.thiscodeworks.com/embed/6204c8b6c6efb50015062e29"
              style="width: 100%; height: auto"
              frameborder="0"
            ></iframe>
          </code>
          <hr class="example-hr" />
          <footer class="footer">
            <div class="footer-left">
              <a href="../../docs.html">
                <span class="footer-left-icon"
                  ><i class="fas fa-chevron-left"></i></span
                ><span class="footer-text">Installation</span></a
              >
            </div>
            <div class="footer-right">
              <a href="../alert/Alert.html">
                <span class="footer-text">Alert</span>
                <span class="footer-icon"
                  ><i class="fas fa-chevron-right"></i></span
              ></a>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
