@import url("/components/badge/Badge.css");

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 0.6em 1em;
}

.nav-logo {
  font-size: 1.6rem;
  color: var(--primary-color);
}

.nav-center .input {
  padding: 0.6rem;
}

.navigation .nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5em 0;
}

.badge i {
  font-size: 1.6rem;
}
@media screen and (max-width: 820px) {
  .nav-center {
    display: none;
  }
}
