<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toast | Splash ui</title>
    <link
      rel="shortcut icon"
      href="/assets/images/favicon.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/components/snackbar/Snackbar.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="header-left">
          <a href="../../index.html">Splash</a>
          <span class="small-text">v1.0</span>
        </div>
        <ul class="header-right">
          <li><a href="../../docs.html">Docs</a></li>
          <li>
            <a href="https://github.com/adidoshi/splash-ui" target="_blank">
              <span class="header-icon"
                ><i class="devicon-github-original colored"></i
              ></span>
            </a>
          </li>
        </ul>
      </header>

      <div class="docs-container">
        <nav class="sidebar">
          <h4 class="sidebar-title-one">Getting started</h4>
          <ul class="sidebar-list">
            <a href="../../docs.html"
              ><li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="fas fa-download"></i
                ></span>
                <span class="sidebar-item-text">Installation </span>
              </li></a
            >
          </ul>
          <h4 class="sidebar-title-two">Components</h4>
          <ul class="sidebar-list">
            <a href="../avatar/Avatar.html"
              ><li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="fas fa-user-circle"></i
                ></span>
                <span class="sidebar-item-text">Avatar </span>
              </li></a
            >
            <a href="../alert/Alert.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon">
                  <i class="fas fa-exclamation-circle"></i
                ></span>
                <span class="sidebar-item-text">Alert </span>
              </li>
            </a>
            <a href="../badge/Badge.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="fas fa-bookmark"></i
                ></span>
                <span class="sidebar-item-text">Badge</span>
              </li>
            </a>
            <a href="../button/Button.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-copy"></i></span>
                <span class="sidebar-item-text">Button</span>
              </li>
            </a>
            <a href="../card/Card.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-id-card"></i></span>
                <span class="sidebar-item-text">Card</span>
              </li>
            </a>
            <a href="../image/Image.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-images"></i></span>
                <span class="sidebar-item-text">Image</span>
              </li>
            </a>
            <a href="../input/Input.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-edit"></i></span>
                <span class="sidebar-item-text">Input</span>
              </li>
            </a>
            <a href="../textUtilities/TextUtilities.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-heading"></i></span>
                <span class="sidebar-item-text">Text Utilities</span>
              </li>
            </a>
            <a href="../lists/Lists.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-list-ul"></i></span>
                <span class="sidebar-item-text">Lists</span>
              </li>
            </a>
            <a href="../modal/Modal.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="far fa-credit-card"></i
                ></span>
                <span class="sidebar-item-text">Modal</span>
              </li>
            </a>
            <a href="../navigation/Navigation.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="fas fa-directions"></i
                ></span>
                <span class="sidebar-item-text">Navigation</span>
              </li>
            </a>
            <a href="../rating/Rating.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-star"></i></span>
                <span class="sidebar-item-text">Rating</span>
              </li>
            </a>
            <a href="../snackbar/Snackbar.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="fas fa-bread-slice"></i
                ></span>
                <span class="sidebar-item-text">Snackbar / Toast</span>
              </li>
            </a>
            <a href="../simplifiedGrid/SimplifiedGrid.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="far fa-credit-card"></i
                ></span>
                <span class="sidebar-item-text">Simplified Grid</span>
              </li>
            </a>
          </ul>
        </nav>

        <!-- image section -->
        <div class="example-container">
          <h1 class="example-title">Snackbar</h1>
          <p class="example-desc">
            Snackbars inform users of a process that an app has performed or
            will perform. They appear temporarily, towards the bottom of the
            screen.
          </p>
          <hr class="example-hr" />
          <h2>Star ratings</h2>
          <p class="example-desc">
            Snackbars contain a single line of text directly related to the
            operation performed. They may contain a text action.
          </p>

          <div class="example-showcase alert-box">
            <div class="toast">
              Order placed successfully!
              <i class="far fa-times-circle"></i>
            </div>
            <button class="btn btn-primary" id="show-toast">Demo</button>
          </div>

          <div class="toast primary-toast">
            Order placed successfully!
            <span id="dismiss"><i class="far fa-times-circle"></i></span>
          </div>

          <code>
            <iframe
              src="https://www.thiscodeworks.com/embed/62017881ed723a001551c039"
              style="width: 100%; height: auto"
              frameborder="0"
            ></iframe>
          </code>

          <code>
            <iframe
              src="https://www.thiscodeworks.com/embed/620178c5ed723a001551c03c"
              style="width: 100%; height: auto"
              frameborder="0"
            ></iframe>
          </code>

          <hr class="example-hr" />
          <footer class="footer">
            <div class="footer-left">
              <a href="../../components/rating/Rating.html">
                <span class="footer-left-icon"
                  ><i class="fas fa-chevron-left"></i></span
                ><span class="footer-text">Rating</span></a
              >
            </div>
            <div class="footer-right">
              <a href="../../components/simplifiedGrid/SimplifiedGrid.html">
                <span class="footer-text">Simplified Grid</span>
                <span class="footer-right-icon"
                  ><i class="fas fa-chevron-right"></i></span
              ></a>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script src="Snackbar.js"></script>
  </body>
</html>
