<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alert | Splash ui</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/components/alert/Alert.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header-left">
          <a href="/index.html">
            <span class="header-brand-title">splash ui</span>
            <small>v1.0</small>
          </a>
        </div>
        <div class="header-right">
          <a href="/docs.html"><span class="header-link">Docs</span></a>
          <a href="https://github.com/adidoshi/splash-ui" target="_blank">
            <span class="header-icon"
              ><i class="devicon-github-original colored"></i
            ></span>
          </a>
        </div>
      </header>

      <div class="docs-container">
        <nav class="sidebar">
          <h4 class="sidebar-title-one">Getting started</h4>
          <ul class="sidebar-list">
            <a href="./docs.html"
              ><li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="fas fa-download"></i
                ></span>
                <span class="sidebar-item-text">Installation </span>
              </li></a
            >
          </ul>
          <h4 class="sidebar-title-two">Components</h4>
          <ul class="sidebar-list">
            <a href="../avatar/Avatar.html"
              ><li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="fas fa-user-circle"></i
                ></span>
                <span class="sidebar-item-text">Avatar </span>
              </li></a
            >
            <a href="../alert/Alert.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon">
                  <i class="fas fa-exclamation-circle"></i
                ></span>
                <span class="sidebar-item-text">Alert </span>
              </li>
            </a>
            <a href="../badge/Badge.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"
                  ><i class="fas fa-bookmark"></i
                ></span>
                <span class="sidebar-item-text">Badge</span>
              </li>
            </a>
            <a href="../button/Button.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-copy"></i></span>
                <span class="sidebar-item-text">Button</span>
              </li>
            </a>
            <a href="../card/Card.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-id-card"></i></span>
                <span class="sidebar-item-text">Card</span>
              </li>
            </a>
            <a href="../image/Image.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-images"></i></span>
                <span class="sidebar-item-text">Image</span>
              </li>
            </a>
            <a href="../input/Input.html">
              <li class="sidebar-list-item">
                <span class="sidebar-icon"><i class="fas fa-edit"></i></span>
                <span class="sidebar-item-text">Input</span>
              </li>
            </a>
          </ul>
        </nav>

        <!-- alert section -->
        <div class="example-container">
          <h1 class="example-title">Alert</h1>
          <p class="example-desc">
            Alerts are used for important messages to help your user understand
            while performing / interacting with your web app.
          </p>
          <hr class="example-hr" />
          <h2>Example of alerts</h2>
          <p class="example-desc">
            Alerts are available for any length of text. There are four variants
            according to usage - 'success', 'danger', 'primary', 'warning'.
          </p>

          <div class="example-showcase alert-box">
            <div class="alert primary">Primary! This is a Primary Alert</div>
            <div class="alert success">Success! This is a Success Alert</div>
            <div class="alert danger">Error! This is an Error Alert</div>
            <div class="alert warning">Warning! This is a Warning Alert</div>
          </div>
          <code>
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%2843%2C43%2C43%2C1%29&t=seti&wt=none&l=auto&width=800&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520primary%2522%253EPrimary%21%2520This%2520is%2520a%2520Primary%2520Alert%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520success%2522%253ESuccess%21%2520This%2520is%2520a%2520Success%2520Alert%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520danger%2522%253EError%21%2520This%2520is%2520an%2520Error%2520Alert%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520warning%2522%253EWarning%21%2520This%2520is%2520a%2520Warning%2520Alert%253C%252Fdiv%253E%250A"
              style="
                width: 800px;
                height: 150px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </code>

          <hr class="example-hr" />
          <footer>
            <div class="footer-left">
              <a href="#">
                <span class="footer-left-icon"
                  ><i class="fas fa-chevron-left"></i></span
                ><span class="footer-text">Alert</span></a
              >
            </div>
            <div class="footer-right">
              <a href="#">
                <span class="footer-text">Button</span>
                <span class="footer-right-icon"
                  ><i class="fas fa-chevron-right"></i></span
              ></a>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
